

<div class=" content">
  <div class=" row">
      <div class=" col-md-12">
          <div class=" card">
            <div class=" card-body">
              <div class=" places-buttons">
                <div class=" row">
                  <div class=" col-md-6">
                    <h2 class=" card-title">Ingest Stream Data</h2>
                  </div>
                </div>
                <div class=" row">
                  <div class=" col-md-10 ml-auto mr-auto text-center">
                    <div class=" row">
                      <div class=" col-md-2 col-sm-2 col-3">
                          <span class="text-primary" style="font-size: 250%;">①</span>
                          <p>Source data</p>
                      </div>
                      <div class=" col-md-1 col-sm-1 col-1">
                          <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-md-2 col-sm-2 col-3">
                          <span class="text-light" style="font-size: 250%;">②</span>
                          <p>Configure Ingestion</p>
                      </div>
                      <div class=" col-md-1 col-sm-1 col-1">
                          <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-md-2 col-sm-2 col-3">
                          <span class="text-light" style="font-size: 250%;">③</span>
                          <p>Filter Table</p>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="text-primary mt-3 mr-4" style="display: inline-block">Source</h4>
                 
                    <div ngbDropdown class="btn-group">
                      <button class="btn btn-info " id="dropdownBasic2" ngbDropdownToggle>Kafka  <i class="fas fa-chevron-down"></i></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-12 ml-auto mr-auto">
          <div class=" card">
        <div class=" card-header">
          <a href=""><i class="fas fa-trash float-right"></i></a>
          <h5 class=" title">Cluster</h5>
        </div>
        <div class=" card-body">
          
          <br>
          <form>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Host </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Port </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                  />
                </div>
              </div>
            </div>
            
            <button class=" btn btn-fill btn-primary" type="submit"><i class="fas fa-plus"></i>Add Host</button>

          </form>
        </div>

          <div class=" card-footer">
            <div class="row">
              <div class="col-md-10 col-sm-8 col-8">
                <button class="btn btn-default mr-2" routerLink="/home">Cancel</button>
                <button class="btn btn-success"><i class="fas fa-file"></i>  Save as Draft</button>
  
              </div>
              <div class="col-md-2 col-sm-2 col-4">
                <button class="btn btn-primary" routerLink="/ingestions/streamdata/configureIngestion">Next</button>
              </div>
            </div>
          </div>

    </div>
 
    
  </div>
</div>


