

<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
              <div class=" card-body">
                <div class=" places-buttons">
                  <div class=" row">
                    <div class=" col-md-6">
                      <h2 class=" card-title">Ingest RDBMS</h2>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-12 ml-auto mr-auto text-center">
                      <div class=" row d-flex justify-content-center">
                        
                        <div class=" col-sm-1 col-2">
                            <span style="font-size: 250%;" class="text-light">①</span>
                            <p style="font-size: 10px;">Source data</p>
                        </div>
                        <div class=" col-sm-1 col-1">
                            <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class=" col-sm-1 col-3">
                            <span class="text-primary" style="font-size: 250%;">②</span>
                            <p style="font-size: 10px;">Configure Ingestion</p>
                        </div>
                        <div class=" col-sm-1 col-1">
                            <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class=" col-sm-1 col-2">
                            <span  class="text-light" style="font-size: 250%;">③</span>
                            <p style="font-size: 10px;">Filter Table</p>
                        </div>
                        <div class=" col-sm-1 col-1">
                            <span  class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class=" col-sm-1 col-2">
                            <span  class="text-light" style="font-size: 250%;">④</span>
                            <p style="font-size: 10px;">Queuing Table</p>
                        </div>
                        <div class=" col-sm-1 col-1">
                            <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                        </div>
                        <div class=" col-sm-1 col-2">
                            <span  class="text-light" style="font-size: 300%;">⑤</span>
                            <p style="font-size: 10px;">Configuration Details</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class=" col-lg-12 ml-auto mr-auto">
            <div class=" card">
          <div class=" card-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline ml-auto">
                            <div class="form-group no-border">
                                <label for="" class="mr-2 mt-2" style="display: inline-block;">Source</label>
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-link btn-icon btn-round">
                                        <i class="tim-icons icon-zoom-split"></i>
                                      </button>
                                </div>
                              <input type="text" class="form-control input-lg mt-2" placeholder="Search by database/table/column" />
                            </div>
                            
                          </form>                    
                    </div>
                    <div class="col-md-6">
                                <h6  class="title mt-4">Destination</h6>
                               
                            
                    </div>
                </div>
            </div>
             
          </div>
          
          <div class=" card-body">
            
                <div class="row">
                   
                   
                  </div>
          
  
            
              
           
          </div>
          <div class=" card-footer">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-8">
                <button class="btn btn-default mr-4">Cancel</button>
                <button class="btn btn-success"><i class="fas fa-file"></i>  Save as Draft</button>
  
              </div>
              <div class="col-md-4 col-sm-2 col-4">
                <button class="btn btn-primary mr-2" routerLink="/ingestions/rdbms">Previous</button>

                <button class="btn btn-primary" routerLink="/ingestions/rdbms/filterRdbmsTables">Next</button>
              </div>
            </div>
          </div>
            </div>
        </div>
      
    </div>
  </div>
  
  
  