

<div class=" content">
  <div class=" row">
      <div class=" col-md-12">
          <div class=" card">
            <div class=" card-body">
              <div class=" places-buttons">
                <div class=" row">
                  <div class=" col-md-6">
                    <h2 class=" card-title">Ingest RDBMS</h2>
                  </div>
                </div>
                <div class=" row">
                  <div class=" col-md-12 ml-auto mr-auto text-center">
                    <div class=" row d-flex justify-content-center">
                      
                      <div class=" col-sm-1 col-2">
                          <span style="font-size: 250%;" class="text-primary">①</span>
                          <p style="font-size: 10px;">Source data</p>
                      </div>
                      <div class=" col-sm-1 col-1">
                          <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-sm-1 col-3">
                          <span class="text-light" style="font-size: 250%;">②</span>
                          <p style="font-size: 10px;">Configure Ingestion</p>
                      </div>
                      <div class=" col-sm-1 col-1">
                          <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-sm-1 col-2">
                          <span  class="text-light" style="font-size: 250%;">③</span>
                          <p style="font-size: 10px;">Filter Table</p>
                      </div>
                      <div class=" col-sm-1 col-1">
                          <span  class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-sm-1 col-2">
                          <span  class="text-light" style="font-size: 250%;">④</span>
                          <p style="font-size: 10px;">Queuing Table</p>
                      </div>
                      <div class=" col-sm-1 col-1">
                          <span class="text-primary" style="font-size: 150%;"><i class="fas fa-arrow-right"></i></span>
                      </div>
                      <div class=" col-sm-1 col-2">
                          <span  class="text-light" style="font-size: 300%;">⑤</span>
                          <p style="font-size: 10px;">Configuration Details</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-12 ml-auto mr-auto">
          <div class=" card">
        <!-- <div class=" card-header"><h5 class=" title">MySQL</h5></div> -->
        <div class=" card-body">
          <div class=" col-lg-8 ml-auto mr-auto">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="mysql-tab" data-toggle="tab" href="#mysql" role="tab" aria-controls="mysql" aria-selected="true">MySQL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="oracle-tab" data-toggle="tab" href="#oracle" role="tab" aria-controls="oracle" aria-selected="false">Oracle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="dbz-tab" data-toggle="tab" href="#dbz" role="tab" aria-controls="dbz" aria-selected="false">DBZ</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="mysql" role="tabpanel" aria-labelledby="mysql-tab">
                <br>
                <form>
                  <div class=" row">
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Ingestion Name </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Enter Request URL </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Username </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Password </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                    
                  </div>
                  <div class="text-center">
                    <button class=" btn btn-fill btn-primary" type="submit">Save</button>
                  </div>
  
                </form>
              </div>
              <div class="tab-pane fade" id="oracle" role="tabpanel" aria-labelledby="oracle-tab">
                <br>

                <form>
                  <div class=" row">
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Ingestion Name </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Enter Request URL </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Username </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Password </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                    
                  </div>
                  <button class=" btn btn-fill btn-primary" type="submit">Save</button>
  
                </form>
              </div>
              <div class="tab-pane fade" id="dbz" role="tabpanel" aria-labelledby="dbz-tab">
                <br>

                <form>
                  <div class=" row">
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Ingestion Name </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Username </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Password </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Hostname </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Port </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-12">
                      <div class=" form-group">
                        <label> Database </label>
                        <input
                          class=" form-control"
                          placeholder=""
                          type="text"
                          value=""
                        />
                      </div>
                    </div>
                  </div>
                  <button class=" btn btn-fill btn-primary" type="submit">Save</button>
  
                </form>
              </div>
            </div>

          </div>
          
            
         
        </div>
        <div class=" card-footer">
          <div class="row">
            <div class="col-md-10 col-sm-8 col-8">
              <button class="btn btn-default mr-4">Cancel</button>
              <button class="btn btn-success"><i class="fas fa-file"></i>  Save as Draft</button>

            </div>
            <div class="col-md-2 col-sm-2 col-4">
              <button class="btn btn-primary" routerLink="/ingestions/rdbms/configurerdbms">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


